//colors
$green: #009e74 !default;
$white: #ffffff !default;
$black: #001d24 !default;

//theme color variable
$primary: $green !default;
$secondary: $black !default;
$gray: #757e81 !important;
$gray-100: #f7f9f9 !default;
$gray-200: #e9edee !default;

// border-radius-variables
$border-radius: 10px !default;
$border-radius-lg: 50px !default;

// buttons
$btn-padding-y: 0.75rem !default;
$btn-padding-x: 1.563rem !default;
$btn-focus-box-shadow: 0 !default;
$box-shadow: 0px 16px 32px 0px rgb(182 182 182 / 20%) !default;
